<form ng-controller="ControllerRegistreUser" class="form-horizontal" role="form" style="position:relative;width:90%;">

   <div class="form-group">
      <label class="col-sm-2 control-label">Nombres:</label>
      <div class="col-sm-10 has-feedback" >
         <input type="text" class="form-control input-group" ng-model="userName" placeholder="Nombre"/>
         <span class="glyphicon glyphicon-font form-control-feedback"></span>
      </div>
   </div>
   
   <div class="form-group">
      <label class="col-sm-2 control-label">Apellidos:</label>
      <div class="col-sm-10 has-feedback" >
         <input type="text" class="form-control input-group" ng-model="userLastName" placeholder="Nombre"/>
         <span class="glyphicon glyphicon-font form-control-feedback"></span>
      </div>
   </div>
   
      
   <div class="form-group">
      <label class="col-sm-2 control-label">Email:</label>
      <div class="col-sm-10 has-feedback" >
         <input type="email" class="form-control input-group" ng-model="email" placeholder="example@example.com"/>
         <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
   </div>

   
   <div class="form-group">
      <label class="col-sm-2 control-label">Password:</label>
      <div class="col-sm-10 has-feedback" >
         <input type="password" class="form-control input-group" ng-model="password" placeholder="Password"/>
         <span class="glyphicon glyphicon-eye-close form-control-feedback" ng-if="password == password2" ></span>
         <span class="glyphicon glyphicon-remove form-control-feedback" ng-if="password != password2" ></span>
      </div>
   </div>
   
   <div class="form-group">
      <label class="col-sm-2 control-label">Password:</label>
      <div class="col-sm-10 has-feedback" >
         <input type="password" class="form-control input-group" ng-model="password2" placeholder="Password"/>
         <span class="glyphicon glyphicon-eye-close form-control-feedback" ng-if="password == password2" ></span>
         <span class="glyphicon glyphicon-remove form-control-feedback" ng-if="password != password2" ></span>
         <span ng-if="password != password2" style="color:red;">Password no coinciden.</span>
      </div>
   </div>
   
   
   <div class="form-group">
      <label class="col-sm-2 control-label">Fecha Nacimiento:</label>
      <div class="col-sm-4 has-feedback" >
         <input type="date" class="form-control input-group"/>
         <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
      </div>
      <label class="col-sm-2 control-label">Sexo:</label>
      <div class="col-sm-4 has-feedback" >
         <div class="radio">
           <label>
             <input type="radio" name="optionsRadios" id="optionsRadios1">
             {{"Hombre   "}}
           </label>
           <label>
             <input type="radio" name="optionsRadios" id="optionsRadios1">
             {{"Mujer "}}
           </label>
         </div>
      </div>
   </div>
   
   {{userName+" "+password+" "+email}}
</form>
<script type="text/javascript">
   function ControllerRegistreUser($scope){
         $scope.userName = null;
         $scope.userLastName = null;
         $scope.password = null;
         $scope.password2=null;
         $scope.email = null;

         
         $scope.clearPasword = function(){
            console.log("Passs");
            $scope.password2 = null;
         }
   }
   var module =  angular.module("ModuleregistreUser");
   module.controller("ControllerRegistreUser",ControllerRegistreUser);
</script>


<!--
var app = angular.module('myApps', []);


//Factory
app.factory('frameControlShare',function($rootScope){
   
   var showFrame = {
      show:null,
      preForBroadcast: function(show){
         this.show = show;
         this.broadcastItem();
      },
      broadcastItem: function(){
         $rootScope.$broadcast('changeFrame');
      }
   }
   
   return showFrame;
});



//Servicios
function ServicioMenu($rootScope, $http){
   this. options = [
      {id:1 , name : "Profesores", show: "informacionProfesor", subOption:[
         {id:5 , name : "Registrar Profesor", show: "registrar", subOption:[]}
         ,{id:6 , name : "Option1.2", show: "VentanaOpcion1.2", subOption:[]}
         ,{id:7 , name : "Option1.3", show: "VentanaOpcion1.3", subOption:[
            {id:8 , name : "Option1.3.1", show: "VentanaOpcion1.3.1", subOption:[]}
            ,{id:9 , name : "Option1.3.2", show: "VentanaOpcion1.3.2", subOption:[]}
            ,{id:10 , name : "Option1.3.2", show: "VentanaOpcion1.3.3", subOption:[]}
         ]}
      ]}
      ,{id:2 ,name : "Option2", show: "VentanaOpcion2", subOption:[]}
      ,{id:3 ,name : "Option3", show: "VentanaOpcion3", subOption:[]}
      ,{id:4 ,name : "Option4", show: "VentanaOpcion4", subOption:[
         {id:8 , name : "Option1.3.1", show: "VentanaOpcion1.3.1", subOption:[]}
         ,{id:9 , name : "Option1.3.2", show: "VentanaOpcion1.3.2", subOption:[]}
         ,{id:10 , name : "Option1.3.2", show: "VentanaOpcion1.3.3", subOption:[]}
      ]}
   ];
   
   this.name = "Cristopher";
   this.setName = function(txt){
      this.name = txt;
      $rootScope.$broadcast('changeServiceFrame');
   }
   
}
app.service("ServicioMenu",ServicioMenu);


app.controller("menuVertical",function($scope,frameControlShare, ServicioMenu){
   $scope.options = ServicioMenu.options;
   $scope.name = ServicioMenu.name;     
               
   $scope.existSubOption = function(op){
      return (op.subOption.length > 0)? true: false;
   }

   $scope.changeFrame = function(op){
      if(op.length > 1)
         op = op[0];
         
      ServicioMenu.setName(op.show); 
      frameControlShare.preForBroadcast(op.show);
   }            
});

app.controller("showFrame",function($scope, frameControlShare, ServicioMenu){
   $scope.show = "Me";
   $scope.name = ServicioMenu.name;
   
   $scope.controller = "frameChild"
   
   
   $scope.$on("changeFrame", function(){
      $scope.show = frameControlShare.show;
   })
   
   $scope.$on("changeServiceFrame", function(){
      $scope.name = ServicioMenu.name;
   })
});

app.controller("registreUser",function($scope){

});
//http://tutorials.jenkov.com/angularjs/views-and-directives.html

-->









<!--
            <div ng-switch on="show">
               <div ng-switch-when="registrar.html">
                  <h2>{{show}}</h2><br>
                  <div ng-include src="show"></div>
               </div>
               <div ng-switch-when="VentanaOpcion2">
                  {{"Formulario2"}}
               </div>
               <div ng-switch-when="VentanaOpcion3">
                  {{"Formulario3"}}
               </div>
               <div ng-switch-when="VentanaOpcion4">
                  {{"Formulario4"}}
               </div>
               <div ng-switch-default>
                  {{"Welcome to This Site! "+show}}
                  <div ng-include src="show"></div>
               </div>
            </div>
-->